@import 'libs/bootstrap-reboot.min'
@import 'libs/bootstrap-grid.min'
@import 'libs/fonts'
@import 'libs/slick'

@import 'base/variables'

*
    font-family: 'Roboto', sans-serif
    box-sizing: border-box

h1,h2,h3
    margin-bottom: 0

ul
    margin-bottom: 0

@import 'blocks/header'
@import 'blocks/promo'
@import 'blocks/subheader'
@import 'blocks/button'
@import 'blocks/advantages'
@import 'blocks/down-arrows'
@import 'blocks/products'
@import 'blocks/title'
@import 'blocks/slider'
@import 'blocks/advantages-table'

@import 'media/media'