.button
    width: 241px
    height: 60px
    background-color: $main
    border-radius: 5px
    border: none
    color: #ffffff
    font-size: 16px
    font-weight: 700
    line-height: 16px
    text-transform: uppercase
    transition: 0.5s all
    &:active,&:focus
        outline: none
    &:hover
        color: $main
        background-color: #fff
    &_border
        display: block
        margin: 30px auto 0
        &:hover
            border: 1px solid $main
