.title
    font-size: 30px
    font-weight: 900
    line-height: 36px
    color: #393939
    text-align: center
    margin: 0 auto
    &_white
        width: 625px
        color: #ffffff
    &_black
        width: 376px
        