@media (max-width: 991px)
    .title
        font-size: 27px
        &_white
            font-size: 27px
        &_big
            font-size: 47px
@media (max-width: 767px)
    .title
        font-size: 22px
        line-height: 30px
        &_white
            font-size: 20px
            line-height: 27px

@media (max-width: 575px)
    .title
        font-size: 18px
        line-height: 23px
        &_big
            font-size: 38px
            margin-top: 20px
            margin-bottom: 30px
        &_white
            font-size: 17px
            line-height: 25px
