@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff2') format('woff2'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Black.woff2') format('woff2'),
        url('Roboto-Black.woff') format('woff'),
        url('Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Light.woff2') format('woff2'),
        url('Roboto-Light.woff') format('woff'),
        url('Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

